*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    border: none;
    background: none;
    font-family: var(--font-poppins);
}
img,h1, h2, h3, h4, h5, h6{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}